/*css for all*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clearfix{
    float:none;
    clear:both;
}
.tbl-full{
    width: 100%;
    
}


.tbl-30{
    width: 40%;
}

table tr th{
    text-align: left;
    padding:1%;
    border-bottom:1px solid black ;
}

table tr td{
    padding: 1% 0;
}
 .btn-primary{
color:#fff;
font-weight: bold;
padding: 1%;
background-color:#24a0ed;
}
 .btn-primary:hover{
    background-color: #35589A;
}
.btn-secondary{
    color: #000;
    font-weight: bold;
    padding: 1%;
    background-color: #7bed9f;
    }
 .btn-secondary:hover{
    background-color:#2ed573;
}
.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}


/*css for menu*/
.menu{
    /* background-color:oldlace; */
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    font-weight: bold;
    font-size: 1rem;

}
.menu ul li a{
    text-decoration:none;
    padding: 1%;
    color:#ff6b81;
    /* color:sienna; */
 
}
.menu ul li a:hover{
    /* color:rgb(153, 51, 51); */
    color: #ff4757;
}

/*css for main-content*/
.main-content{
    background-color: #ececec;
    padding:3% 0;
}
.col-4{
    width:18%;
    background-color: #fff;
    margin:1%;
    padding:2%;
    float:left;
}
/*css for footer*/
.footer{
    /* background-color: red; */
    background-color: #ff4759;
    /* font-weight: bold; */
    font-size: 1.2rem;
    color:white;
}


/*css for login*/
.login{
    border:1px solid grey;
   width: 30%;
   margin: 10% auto;
  

}